<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">KitchenStory</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="Home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" a routerLink="Products">Products<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Breakfast</a></li>
          <li><a href="#">Snacks</a></li>
          <li><a href="#">Bevrages</a></li>
        </ul>
      </li>
      <li><a href="#" class="under">CONTACT US</a></li>  
      <li><a href="#" class="under">ABOUT US</a></li>  
    <ul class="nav navbar-nav navbar-right">
      <li text-align="right"><a routerLink="Sign Up"><span class="glyphicon glyphicon-user"></span>Sign Up </a></li>
      <li><a routerLink="Log in"><span class="glyphicon glyphicon-log-in"></span>Log in</a></li>
      <li><a routerLink="Admin Login">Admin Login</a></li>
      <li><a routerLink="Home">Home</a></li>
    </ul>
    <br>
