<div
  style="padding: 105px;
  align-items: center;
  margin-left: 440px;
 
  width:50%;
  align-content: center;
  border-style: solid;
  border-color: black;
  text-align: center;
  height:30%">

<h1 styte="text-align:center">Kitchen Story</h1>
<h1>Sign In</h1>
<div class="form-inline" ></div>
    <label>Username</label>
    <input type="text" placeholder="Enter Email" class="form-control"><br>
    
    <label>Password</label>
    <input type="password" placeholder="Enter Password" class="form-control"><br>
    
    <div style="text-align: center;">
    <input type="button" value="Log in"  class="btn btn-primary"><br>
    <label style="text-align: center;">
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
</div>
</div>
