<div
style="padding: 105px;
align-items: center;
margin-left: 440px;

width:50%;
align-content: center;
border-style: solid;
border-color: black;
text-align: center;
height:30%">

<h1>
    Proceed to buy
</h1>
<form>
    <label for ="address">Address</label>:
    <input type="text" name="Address" id="Address" placeholder="Address" size="30px" maxlength="100">
    <br>
    <label for ="pincode">Pincode</label>:
    <input type="text" name="Pincode" id="Pincode" placeholder="Pincode" size="30px" maxlength="100">
    <br />
    <p style="">Choose delivery options</p>
    <select name="shipping" id="shipping">
        <option value="One day delivery">One day delivery</option>
        <option value="Seven days delivery">Seven days delivery</option>
    </select>
    <br /> 
    <p>Choose payment options</p>
    <label>CoD <input type="radio" name="payment" value="CoD"></label>
    <label>UPI Apps <input type="radio" name="payment" value="UPI Apps"></label>
    <label>Debit Card<input type="radio" name="payment" value="Debit Card"></label>
    <label>Credit Card<input type="radio" name="payment" value="Credit card"></label>
<br />
<label for="comments">Comments:</label>
<textarea rows="4" cols="48" name="comments" id="comments"></textarea>
<br  />
<label>SignUp for email updates<input type="checkbox"name="email updates"></label>
<br />
<label>Save payment details<input type="checkbox" name="Save payment details"></label>
</form>
</div>