<hr>

<h1>Breakfast Picks</h1>
<table>
        <tr>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Check out</th>
        </tr>
        <tr>
          <th>100</th>
         <th>Cornflakes</th>
         <th>186.50</th>  
         
         <th><button (click)="item1()"[disabled]="additem">ADD TO CART</button> 
         <button><li class="active"><a routerLink="SHOW CART">SHOW CART</a></li></button></th>
         </tr>
     <br>
     <tr>
        <th>101</th>
         <th>Oats</th>
        <th>176.25</th>
        <th><button (click)="item2()"[disabled]="additem">ADD TO CART</button>
          <button>SHOW CART</button>
      </th>
     </tr>
        
     </table>
    <hr>
    <h1>Bevrages</h1>
    <table>

        <tr>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Check out</th>
        </tr>
        <tr>
        <th>201</th>
        <th>Tea</th>
        <th>86.00</th>
        <th><button (click)="item1()"[disabled]="additem">ADD TO CART</button>
          <button><li class="active"><a routerLink="SHOW CART">SHOW CART</a></li></button></th>
        
      </tr>
        <br>
        <tr>
       <th>202</th>
       <th>Coffee</th>
       <th>206.00</th>
       
      <th><button (click)="item2()"[disabled]="additem">ADD TO CART</button>
        <button>SHOW CART</button></th>
      </tr>
    
 
    
    
  
  