
<div
  style="padding: 105px;
  align-items: center;
  margin-left: 440px;
 
  width:50%;
  align-content: center;
  border-style: solid;
  border-color: black;
  text-align: center;
  height:30%">
<h1 styte="text-align:center">Kitchen Story</h1>
<h1>Sign Up</h1>
<p>Create an account here.</p>

<label for="email"><b>Email</b></label><br>
<input type="text" placeholder="Enter Email" name="email" required><br>

<label for="psw"><b>Password</b></label><br>
<input type="password" placeholder="Enter Password" name="psw" required><br>

<label for="psw-repeat"><b>Repeat Password</b></label><br>
<input type="password" placeholder="Repeat Password" name="psw-repeat" required><br>

<label>
  <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
</label>
<div>
  <input type="button" name="uname" value="Sign Up" class="btn btn-success">
  <input type="button" name="uname" value="Cancel" class="btn btn-danger">
</div>
</div>
